body, html {
  height: 100%;
  margin: 0;
  font-family: Helvetica, sans-serif;
  overflow-x: hidden; 
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/justin-sheet.png");
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.text {
  text-align: center;
  color: white;
}
.boxesRight{
  margin-top:50px;
  margin-left:25px;
  margin-right:25px;
  margin-bottom: 50px;
  padding: auto;
  outline: 1px solid rgb(92, 37, 37);
  background-image:url("images/NewBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  height:auto;
  overflow:auto;
} 
 
.backGround{
  background-image:url("images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.centerText{
  text-align: center;
}
* {box-sizing:border-box}

.backGround2{
  background-image:url("images/footer.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/* Slideshow container */
.slideshow-container {
  max-width: 70%;
  position: relative;
  margin:auto;
  margin-top: 30px;
  border-style:outset;
  background-color: #5b4caf;
  border-color:black;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}
/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: hidden;
}
.Video{
 text-align: left;
}
/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #ffffff;
}
.footer {
  color:rgb(0, 0, 0);
  width: 100%;
  height: 30px;
  text-align: left;
  position:relative;
  bottom:0;
}
.row {
  display: flex;
}
img.resize{
  float:right;
  height:auto;
}
.column1 {
  flex: 50%;
  background-color: #003f02;
  margin-right: 3%;
  margin-left: 2%;
  text-align: Left;

}
.column {
  flex: 50%;
  background-color: #44aa47;
  margin-right: 2%;
  margin-left: 3%;
  text-align: Left;
}

.row2 {
  display: flex;
} 

.column2 {
  flex: 50%;
}
/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
  }
}