:root {
  --pale-green: #eafce9;
  --light-grey: #f9f9f9;
  --dark-green: #5c996a;
  --light-green: #d1e1d1;
  --dark-grey: #4a4a4a;
  --white: white;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: auto 10fr 2fr;
  grid-gap: 0.5em;

  height: 100vh;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  background-color: var(--pale-green);
}

#navbar, #timeline {
  grid-column: 1 / 4;
}

.panel {
  background: var(--light-grey);
  border-radius: 10px;
  padding: 1em;
  border-style: solid;
  border-color: var(--light-green);
  color: var(--dark-green);
}

/* NAV BAR */

#navbar {
  background-color: var(--dark-green);
}

.navbar-button {
  background-color: var(--dark-green);
  color: var(--white);
  font-size: 1.2em;
  font-weight: bold;
  padding: 6px 8px;
  border: none;
  cursor: pointer;
}

#home {
  color: white;
  padding-left: 0.5em;
}

/* Dropdown button on hover & focus */
.navbar-button:hover, .navbar-button:focus {
  background-color: var(--light-green);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--dark-green);
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--white);
  padding: 6px 8px;
  text-decoration: none;
  display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: var(--light-green)}

.dropdown-content button {
  background-color: var(--dark-green);
  color: var(--white);
  padding: 6px 8px;
  text-decoration: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.dropdown-content button:hover {background-color: var(--light-green)}

.dropdown-content input {
  display: none;
}

.dropdown-content label {
  display: inline-block;
  background-color: var(--dark-grey);
  color: var(--white);
  padding: 6px 8px;
  cursor: pointer;
  width: 95%;
  margin-top: 20px;
}
/*
.dropdown-content label:hover {
  background-color: var(--light-green);
  /* overflow: hidden; 
} */

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container whenthe user clicks on the dropdown button) */
.show {display:block;}

/* RELATIONSHIPS PANEL */

#relations {
  margin-left: 0.5em;
}

ul {
  list-style-type: none;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: var(--dark-green);
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg); 
  transform: rotate(90deg);  
}

.nested {
  display: none;
}

.active {
  display: block;
}

/* PROPERTIES PANEL */

#properties {
  margin-right: 0.5em;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 10fr;
  gap: 0.5em;
}

#properties p {
  /* vertical-align: middle; */
  text-align: center;
}

#xpos{
  color: var(--dark-grey);
}
#ypos{
  color: var(--dark-grey);
}
#width{
  color: var(--dark-grey);
}
#height{
  color: var(--dark-grey);
}
#rotation{
  color:  var(--dark-grey);
}

input[type=number]{
  border: 2px solid #5c996a;
  border-radius: 5px;
}

/* TIMELINE PANEL */

#timeline {
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;

  display: grid;
  grid-template-columns: auto auto auto auto auto 100fr auto auto auto auto;
  grid-template-rows: 1fr 1fr;
  column-gap: 15px;
  row-gap: 5px;
  padding: 1em;
}

.timeline-button {
  border: none;
  background-color: var(--light-grey);
  color: var(--dark-green);
  cursor: pointer;
}

.loop-enabled {
  border: none;
  background-color: var(--light-grey);
  color: var(--dark-green);
}

.loop-disabled {
  border: none;
  background-color: var(--light-grey);
  color: var(--light-green);
}

.onion-enabled {
  border: none;
  background-color: var(--light-grey);
  color: var(--dark-green);
}

.onion-disabled {
  border: none;
  background-color: var(--light-grey);
  color: var(--light-green);
}

#timeline-keyframes {
  grid-column: 1 / 9;
}

#timeline-keyframes button {
  height: 100%;
  width: 20px;
  border: none;
  margin-right: 5px;
  cursor: pointer;
}

.active-keyframe {
  background-color: var(--dark-green);
  color: var(--white);
}

.inactive-keyframe {
  background-color: var(--light-green);
  color: var(--dark-grey);
}

#slider {
  -webkit-appearance: none;
  height: 5px;
  background: var(--dark-green);
  border-radius: 10px;
  /* overflow: hidden; */
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  cursor: pointer;
  background: var(--light-grey);
  border: 3px solid var(--dark-green);
}

#slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  cursor: pointer;
  background: var(--light-grey);
  border: 3px solid var(--dark-green);
}

#slider-label {
  font-size: 1em;
  font-weight: 600;
  vertical-align: middle;
}

#fpsSlider {
  -webkit-appearance: none;
  height: 5px;
  background: var(--dark-green);
  border-radius: 10px;
  /* overflow: hidden; */
}

#fpsSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  cursor: pointer;
  background: var(--light-grey);
  border: 3px solid var(--dark-green);
}

#fpsSlider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  cursor: pointer;
  background: var(--light-grey);
  border: 3px solid var(--dark-green);
}

#fpsSlider-label {
  font-size: 1em;
  font-weight: 600;
  vertical-align: middle;
}

#tweensSlider {
  -webkit-appearance: none;
  height: 5px;
  background: var(--dark-green);
  border-radius: 10px;
  /* overflow: hidden; */
}

#tweensSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  cursor: pointer;
  background: var(--light-grey);
  border: 3px solid var(--dark-green);
}

#tweensSlider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  cursor: pointer;
  background: var(--light-grey);
  border: 3px solid var(--dark-green);
}

#tweensSlider-label {
  font-size: 1em;
  font-weight: 600;
  vertical-align: middle;
}

 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}