body{
    overflow:auto;
    height:740px;
    
}

#loginimg{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;
}

#background{
    object-fit: fill;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 100%;
    width: auto;
}

#login-info{
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    font-family: 'Montserrat';
    text-align: center;
}

#loginbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 17px;
}

input{
    width:60%;
    height: 50px;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    border-color: black;
    background-color: #f5f4f4;
    text-align: left;
    color:black;
}

input:hover{
    background-color: #cacaca;
}

.login-button{
    background-color:#4782DA ;
    border-radius: 30px;
    margin-top: 20px;
    width: 20%;
    text-align: center;
    border-color: transparent;
    color: white;
    height:50px;
}

.login-button:hover{
    background-color: #0467fa;
}

.login-info{
    width:70%;
    height:50px;
    border-radius: 30px; 
    padding:10px;
    margin-top: 10px;
}