#team-page{
    color:black;
  }
  
  #team-info{
    color:black;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 3fr;
    gap: 20px;
    margin-left: 5%;
    margin-right: 5%;
    height:70%;
  }
  
  #justin{
    background-color: #9BC8A5;
    background-image: url("../res/img/hero.jpeg");
    object-fit: scale-down
  }
  
  .justin-img{
    max-width: 100%;
    height: 30%;
  }